body {
    background-color: #1C467A;
}

footer {
    text-align: center;
    background-color: #CD5028;
}

p {
    color: #FFFFFF;
}

h3 {
    color: #FFFFFF;
}

a {
    text-decoration: none;
}

h1 {
    color: #FDDE3C;
}

h2 {
    color: #FDDE3C;
}