body {
    background-color: #1C467A;
}

p {
    color: var(--color_text);
    font-family: "Kanit", "Arial",  sans-serif;
    margin: 0.5rem;
}

h3 {
    color: var(--color_text);
}

a {
    text-decoration: none;
    color: var(--color_text);
}

h1, h2 {
    color: var(--color_subtitle);
    font-family: "Dangrek", "Arial", sans-serif;
    margin: 0.5rem;
}

button {
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
  }

figcaption {
    font-family: "Kanit";
    color: var(--color_text);
    font-size: var(--subtitle-1);
}

ul {
    font-size: var(--text);
    font-family: "dangrek";
}