header {
    background-color: #CD5028;
    text-align: center;
    font: kanit;
}

body {
    background-color: #1C467A;
}

footer {
    text-align: center;
    background-color: #CD5028;
}

p {
    color: #FFFFFF;
}

h3 {
    color: #FFFFFF;
}

a {
    text-decoration: none;
}