*,
*:before,
*:after {
  box-sizing: border-box;
}

 /* Mise en forme du bouton de menu "Hamburger" */
.menu {
    position: fixed;
    inset: 0;
    background-color:#1C467A;
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

 .menu-btn {
    width: 40px;
    height: 30px;
    position: relative;
    margin-top: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    justify-content: space-between;
    z-index: 2;
  }

  .menu-btn__bar,
  .menu-btn__bar::before,
  .menu-btn__bar::after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: #292525;
    display: block;
    position: absolute;
    left: 0;
    z-index: 10;
    
  }

  .menu-btn__bar::before {
    top: -10px;
  }

  .menu-btn__bar::after {
    top: 10px;
  }

  .menu__link {
    display: block;
    width: 80%;
    background-color: var(--header--footer);
    margin: 2rem;
    font-size: var(--title-1);
    color: var(--color_text);
  }

  .menu__link__article {
    display: block;
    width: 80%;
    background-color: bisque;
    margin: 2rem;
    font-size: var(--title-1);
    color: var(--header--footer);

  }